<div class='modal-header titulo-modal' id='myModal' backdrop= 'static'>
    <div class='titulo-texto'>
    <div>Confirmação</div>
    </div>
    </div>
    <div class='modal-body'>
        <strong>Deseja cadastrar outra movimentação?</strong>
    </div>
    <div class='modal-footer'> 
    <button class="btn btn-outline-primary me-md-2" type="button" (click)= 'activeModal.close()' >Sim</button>
    <a routerLink="/movimentacoes" class="btn btn-outline-danger" (click)= 'activeModal.close()'>Não</a>
    </div>

    